<a href="https://colab.research.google.com/github/pablocelva/challenge-telecom-x/blob/main/TelecomX_LATAM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ðŸ“Œ ExtracciÃ³n

In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/ingridcristh/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json'
df = pd.read_json(url)
df.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [3]:
df.shape

(7267, 6)

In [5]:
df.columns

Index(['customerID', 'Churn', 'customer', 'phone', 'internet', 'account'], dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

In [28]:
df['Churn'][:550]

0       No
1       No
2      Yes
3      Yes
4      Yes
      ...
545     No
546    Yes
547     No
548    Yes
549     No
Name: Churn, Length: 550, dtype: object

In [30]:
df['account'].sample(5)

2394    {'Contract': 'One year', 'PaperlessBilling': '...
244     {'Contract': 'Month-to-month', 'PaperlessBilli...
1599    {'Contract': 'One year', 'PaperlessBilling': '...
5993    {'Contract': 'One year', 'PaperlessBilling': '...
502     {'Contract': 'Month-to-month', 'PaperlessBilli...
Name: account, dtype: object

In [29]:
df['customer'].sample(5)

5819    {'gender': 'Female', 'SeniorCitizen': 0, 'Part...
3037    {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
6677    {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
5780    {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
3074    {'gender': 'Male', 'SeniorCitizen': 0, 'Partne...
Name: customer, dtype: object

In [24]:
df['account'][1261]

{'Contract': 'Two year',
 'PaperlessBilling': 'No',
 'PaymentMethod': 'Bank transfer (automatic)',
 'Charges': {'Monthly': 80.45, 'Total': '5737.6'}}

In [25]:
df['customer'][1546]

{'gender': 'Male',
 'SeniorCitizen': 0,
 'Partner': 'No',
 'Dependents': 'No',
 'tenure': 56}

#ðŸ”§ TransformaciÃ³n

#ðŸ“Š Carga y anÃ¡lisis

#ðŸ“„Informe final